@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro';
	font-size: 16px;
	color: #4C4C52;
	background-color: #F8F5F5;
	margin: 65px 0 0;
	opacity: 1;
	transition: all 1s;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.float-right {
    float: right !important;
}

.clr {
	clear: both;
}

/***** Top Fixed Header *****/

#header {
	z-index: 1000;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 65px;
	transition: all 0.5s;
	background-color: #654A4E; /* #D8D0D1 */
	box-shadow: 0 0 20px  rgba(133, 133, 133, 0.9);
	color: #FFF;
	padding: 10px;
	line-height: 33px;
	font-weight: 600;
}

#header a {
	color: #FFF;
	text-decoration: none;
}

#header #logo {
	display: inline-block;
}

#header .logo {
	height: 100%;
	vertical-align: middle;
}

#header #logo a {
	display: inline-block;
	height: 45px;
}

/***** Top Navigation *****/

#header .main-menu .fas.fa-bars, #header .main-menu .fas.fa-times {
	display: none;
	position: absolute;
	top: 18px;
	right: 18px;
	font-size: 28px;
	cursor: pointer;
}

#nav-menu-container {
	padding-top: 6px;
}

.nav-menu li {
	display: inline-block;
	margin-left: 10px;
	padding: 0 8px;
	vertical-align: top;
}

.nav-menu li a, .category-nav-link {
	text-transform: uppercase;
	transition: all 0.3s;
	cursor: pointer;
}

#header .nav-menu li a:hover, .category-nav-link:hover {
	color: #D8DFE9;
}

#header .nav-menu li .category-nav-item a:hover {
	color: #654A4E;
}

#category-nav-list {
	display: none;
	position: fixed;
	right: 5px;
	max-height: 0;
	overflow: hidden;
	background-color: #D8D0D1;
}

.open-cat-nav-list {
	display: block !important;
	min-width:250px;
	max-height: 60% !important;
	overflow: auto !important;
}
.open-cat-nav-list::-webkit-scrollbar {
	width: 20px;
	border-radius: 220px;
}
.open-cat-nav-list::-webkit-scrollbar-track {
	border-radius: 20px;
	background-color: #F8F5F5;
	border: 7px solid #D8D0D1;
}

.open-cat-nav-list::-webkit-scrollbar-thumb {
	background-color: #654A4E;
	border-radius: 10px;
	border-left: 7px solid #D8D0D1;
	border-right: 7px solid #D8D0D1;
}

#category-nav-list .category-nav-item, #category-nav-list .category-nav-item a {
	display: block;
}

#category-nav-list .category-nav-item {
	margin-right: 10px;
}

.container {
	opacity: 0;
}

.container .content {
	max-width: 1600px;
	margin: auto;
	background-color: #E6DDDE;
	box-shadow: rgba(145,106,112,0.5) 0 6px 24px;
}

#top-banner {
	background-color: #654A4E;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.top-banner-content {
	padding-top: 10%;
	padding-bottom: 10%;
	color: #F8F5F5;
	text-align: center;
}

.top-banner-content .logo {
	position: relative;
	display: inline-block;
	width: 80px;
	top: 8px;
	left: 8px;
}

.top-banner-content h1 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 88px;
	padding: 0 20px;
}

.top-banner-content p{
	font-size: 28px;
	padding: 0 10%;
}

#intro {
	padding: 30px 10% 0;
}

#intro .affiliate-disclaimer, .donate-intro, .listing-rules {
	width: 90%;
	margin: auto;
	background-color: #FAFAFA;
	padding: 10px;
	border: 3px solid #D8DFE9;
	border-radius: 8px;
	font-size: 14px;
}

.donate-intro {
	width: 70%;
}

.listing-rules {
	background-color: #F2DEDE;
	color: #A94442;
	font-size: 16px;
	border-color: #A94442;
}

#data-display {
	padding: 10px 20px;
}

.category-title {
	padding-top: 10px;
}

.category-title, a {
	color: #654A4E;
	transition: 0.2s ease-in;
}

a:hover {
	color: #916A70;
	transition: 0.2s ease-out;
	text-decoration: none;
}

/***** Listings *****/

.category-list .item {
	display: inline-block;
	width: 48%;
	min-height: 340px;
	margin: 10px 1%;
	padding: 15px;
	vertical-align: top;
	text-align: left;
	background-color: #D8DFE9;
	border: 15px solid #FFF;
	box-shadow: rgba(145,106,112,0.15) 0 6px 24px;
    transition: box-shadow 0.4s ease-out;
}

.category-list .item:hover {
	box-shadow: rgba(145,106,112,0.5) 0 6px 24px;
    transition: box-shadow 0.2s ease-in;
}

.category-list .item .field {
	display: flex;
	padding: 5px 3px;
}

.category-list .item .image .field {
	display: inline-block;
}

.category-list .item .image {
	text-align: center;
}

.category-list .item .image .field img {
	max-width: 100%;
}

.category-list .item .field .fas, .category-list .item .field .fab {
	display: inline-block;
	flex-shrink: 0;
	width: 30px;
	line-height: 20px;
}

.category-list .item .field.name {
	font-size: 18px;
	font-weight: 600;
}

.category-list .item .field .nowrap {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.category-list .item .image, .category-list .item .info {
	display: inline-block;
	width: 50%;
	padding: 3px;
	vertical-align: top;
}

/***** Ad, Informational, Video Listings *****/

.category-list .item.commercial-placement-full-width {
	display: block;
	width: 98%;
	min-height: 0;
	max-width: 1000px;
	margin: 15px auto;
	padding: 0;
	border: none;
	background-color: transparent;
}

.category-list .item.commercial-placement-full-width a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.category-list .item.commercial-placement-full-width img {
	display: inline-block;
	width: 100%;
	vertical-align: bottom;
}

.category-list .item.commercial-placement-listing, 
.category-list .item.informational-listing, 
.category-list .item.video-listing {
	text-align: center;
}

.category-list .item.commercial-placement-listing img, 
.category-list .item.informational-listing img, 
.category-list .item.video-listing img {
	width: 100%;
	max-width: 290px;
	border: 3px solid #FFF;
}

.category-list .item.commercial-placement-listing .listing-desc, 
.category-list .item.informational-listing .listing-desc, 
.category-list .item.video-listing .listing-desc {
	display: block;
	padding: 8px;
}

.category-list .item.commercial-placement-listing a, 
.category-list .item.informational-listing a, 
.category-list .item.video-listing a, 
.affiliate-disclaimer a {
	display: inline-block;
	color: #FFF;
	font-weight: 600;
	padding: 6px;
	background-color: #654A4E;
	border-radius: 4px;
	text-decoration: none;
	transition: 0.2s ease-out;
	text-align: center;
}

.category-list .item.commercial-placement-listing a:hover, 
.category-list .item.informational-listing a:hover, 
.category-list .item.video-listing a:hover, 
.affiliate-disclaimer a:hover {
	background-color: #916A70;
	color: #FFF;
	transition: 0.2s ease-out;
}

.donate-intro a {
	display: inline-block;
	color: #FFF;
	font-weight: 600;
	padding: 6px;
	background-color: #0070BA;
	border-radius: 4px;
	text-decoration: none;
	transition: 0.2s ease-out;
	text-align: center;
}

.donate-intro a:hover {
	background-color: #005EA6;
	transition: 0.2s ease-out;
}

/***** Contact *****/

.contact-section {
	padding-bottom: 60px;
}

.donate-section {
	background-color: #EDE9E9;
	padding-bottom: 60px;
}

#contact, #donate {
	margin: 60px 0 20px;
	padding: 60px 0 40px;
	font-size: 36px;
	text-align: center;
}

#donate {
	margin-top: 0;
}

.contact-intro, .donate-intro {
	padding: 0 10% 30px;
}

.donate-intro {
	padding-left: 5%;
	padding-right: 5%;
	font-size: 16px;
}

.contact-form {
	text-align: center;
	padding: 0 15px;
}

.contact-form-container {
	width: 100%;
	max-width: 640px;
	background-color: #FAFAFA;
	margin: auto;
	padding: 20px 0;
	border: 1px solid #dadce0;
	border-radius: 8px;
}

.contact-iframe {
    width: 100%;
    max-width: 640px;
    min-height: 800px;
}

/***** Footer *****/

footer {
	padding: 20px 10px;
	background-color: #654A4E;
	color: #FFF;
	text-align: center;
}

footer .logo {
	width: 45px;
}

footer a {
	color: #FFFFFF;
}

footer a:hover {
	color: #EDE9E9;
}

/***** Media Queries *****/

@media (max-width: 1024px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
	.top-banner-content {
		padding-top: 5%;
		padding-bottom: 5%;
	}

	.category-list .item .image, .category-list .item .info {
		display: block;
		width: 100%;
		padding: 0;
	}

	.category-list .item .image {
		text-align: center;
	}
}

@media (max-width: 576px) {
	#header .main-menu .fas.fa-bars, #header .main-menu .fas.fa-times {
		display: inline-block;
	}

	#nav-menu-container {
		z-index: 1005;
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(101, 74, 78, .95);
		padding-top: 60px;
	}

	.nav-menu li {
		display: block;
		padding: 5px 0;
	}

	.nav-menu li a, .category-nav-link {
		display: inline-block;
		width: 100%;
		font-size: 1.3em
	}

	#header .nav-menu li a:hover, .category-nav-link:hover {
		color: #FFF;
		font-size: 1.4em
	}

	#category-nav-list {
		left: 10px;
		right: 10px;
	}

	.top-banner-content .logo {
		width: 65px;
	}
	
	.top-banner-content h1 {
		margin-bottom: 10px;
		font-size: 68px;
	}

	.category-list .item {
		display: block;
		width: 98%;
		margin: 10px auto;
	}
}

@media (max-width: 360px) {
	.top-banner-content h1 {
		font-size: 54px;
	}

	.top-banner-content p {
		font-size: 24px;
	}

	#intro .affiliate-disclaimer, .listing-rules {
		width: 100%;
	}
}